:root {
    --dkblue: blue;
    --red: red;
    --white: #f7f8fa;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

nav :nth-child(7) {
    flex-basis: 50%;
}