:root {
    --dkblue: blue;
    --red: red;
    --white: #fff;
    --letterColor : #282c3f;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--white);
    color: var(--letterColor);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: flex-start;
}

nav :nth-child(7) {
    flex-basis: 50%;
}

#image-carousel {
    background-color: green;
}

footer {
    background-color: gainsboro;
}

footer ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}